body {
    background-color: rgb(12, 168, 134);


}

h1 {    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(1, 1, 1);
}

h2 {
   color: black;
}
p{    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

img {
    height: 200px;
    width: 150  px;
}
